.calisto {
  position: relative;
  overflow: hidden;

  &--rail {
    display: flex;
  }

  &--slide {
    font-size: initial;
    display: inline-block;
    flex: 0 0 100%;
  }

  &--controls {
      .control {
        position: absolute;
        top: 50%;
        background: black;
        transform: translateY(-50%);
        padding: 10px;
        border-radius: 100%;
        min-width: 44px;
        cursor: pointer;

        &::before {
          display: block;
          color: #fff;
          text-align: center;
        }

        $in : -6.5%;

        &--next {
          right: $in;
          &::before {
            content: '❯';
          }
        }

        &--prev {
          left: $in;
          &::before {
            content: "❮";
          }
        }
      }
  }
}
